<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>listings</h1>

<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Listing', new_listing_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @listings.each do |listing| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td class="photo">
          <%= photo_tag(listing.photo_url, class: 'list_photo') %>
        </td>

        <td class="details">
          <h1><%= listing.title %></h1>
          <p>
            <%= truncate(strip_tags(listing.details),
                         length: 80) %>
          </p>
        </td>

        <td class="actions">
          <ul>
            <li><%= link_to 'Show', listing %></li>
            <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
            <li>
              <%= link_to 'Destroy',
                           listing, 
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
