<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @listing.photos %>
</p>

<p>
  <strong>Details:</strong>
  <%= @listing.details %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @listing.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
