<!DOCTYPE html>
<html>
  <head>
    <title>Bunnyhug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <!--Tell Turbo to watch for changes in asset file name and hard reload when they change
    Good in Rails because CSS and JS typically have a content hash appended to their filenames-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

  <body>
    <%= render "shared/navigation" %>
    <%= render "shared/flash" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
